$font-family: "Mulish";
$font-title: 'Source Sans Pro';
$main-color: #fff;


//background  box color
$bg-box-primary: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
$bg-box-secondary: linear-gradient(98.91deg, #56CCF2 1.13%, #2F80ED 100%);
$bg-box-blue: linear-gradient(98.89deg, rgba(46, 172, 238, 0.7) 4.77%, rgba(0, 22, 218, 0.7) 96.59%);



//box shadow
$box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);




//main color 
$color-primary: #FF7506;
$color-secondary: #F18021;
$color-white: #fff;
$color-red: #ED2025;
$color-gray: #F2F2F2;
$color-orange: #CC5C00;
$color-black: #373839;
$color-blue: #0B80EC;

//chart color

$chart-primary: #FF7506;


//row color table
$table-title: #F3791C;
$table-primary: #fff;
$table-secondary: #F0F3F6;

//btn color 
$btn-primary: #FF7506;
$btn-secondary: #F2F2F2;
$btn-gray: #C9C4C0;

// text color
$txt-primary: #FF7506;
$txt-black: #373839;
$txt-white: #fff;
$txt-blue: #0B80EC;
$txt-red: #ED2025;
$txt-green: #3CC13B;
$txt-title-orange: #CC5C00;



// color border 
$border-input: #373839;
$boder-date: #373839;
$border-checkbox: #0B80EC;

//border radius 
$border-radius: 16px;
$border-radius-event: 8px;

// transition
$transition: opacity ease-in-out 0.3s;

//letter-spacing 
$letter-spacing: 0.015em;